html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #181818; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#name {
  position: relative;
}

#name:hover .basicInfoEditableButton,
#name:focus .basicInfoEditableButton {
  display: block;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
  position: relative;
}

#headshot input[type="file"] {
  visibility: hidden;
}

#headshot:hover .imgEditable,
#headshot:focus .imgEditable {
  display: block;
}

#headshot img {
	width: 90px;
	height: 90px;
	border-radius: 50px;
  margin-top: -22px;
}

#name {
	float: left;
}

#contactDetails {
  float: right;
  position: relative;
}

#contactDetails:hover .socialInfoEditableButton,
#contactDetails:focus .socialInfoEditableButton {
  display: block;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover {
	color: #cf8a05;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	/* -moz-column-count:2;
	-webkit-column-count:2;
	column-count:2; */
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
  width: 100%;
  display: table;
}

.keySkills li {
  width: calc(50% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		/* display: none; */
	}

	.keySkills li {
	}


}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	#headshot {
		/* display: none; */
	}

	#name, #contactDetails {
		float: none;
		width: 100%;
    text-align: center;
	}

	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.keySkills li {

  }
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}


	.keySkills li {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
	}

	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }


    .rowItem .newRow,
    .rowItem .editable,
    .rowItem .removeItem {
      display: none !important;
    }

}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}

.rowItem,
.rowItem:hover,
.rowItem:focus {
  transition: all 500ms ease;
}

.rowItem:hover .newRow,
.rowItem:focus .newRow {
  display: table;
  transition: all 500ms ease;
}

.rowItem article {
  position: relative;
}

.rowItem article:hover .editable,
.rowItem article:focus .editable,
.rowItem article:hover .removeItem,
.rowItem article:focus .removeItem {
  display: block;
}

.newRow {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  cursor: pointer;
  height: 30px;
  transition: all 500ms ease;
}

.newRow:hover,
.newRow:focus {
  transition: all 500ms ease;
}

.newRow {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.newRow .line {
  width: calc(100% - 30px);
  height:  4px;
  background-color: yellow;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  float:  left;
}

.newRow .plus {
  background-color:  yellow;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  margin-top: -12.5px;
  line-height: 30px;
  font-weight:  800;
  text-align: center;
  color: #000;
}

.editable {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0,0,0,.8);
  display: none;
}

.editable span {
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: block;
  line-height: 60px;
  text-transform: uppercase;
}

.imgEditable {
  display: none;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  background-color: rgba(0,0,0,.7);
  cursor: pointer;
}

.appMenu {
  display:  block;
  position: fixed;
  width: 200px;
  bottom: 0;
  left: 0;
  background-image: rgba(0,0,0,.7);
}

.removeItem {
  width: 40px;
  line-height: 65px;
  text-align: center;
  height: 100%;
  position:  absolute;
  right: 0;
  top: 0;
  margin-right: -40px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight:  600;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 99;
  display: none;
}

.messageBox {
  position: absolute;
  width: 100%;
  height:  50px;
  bottom:  0;
  text-align:  center;
  line-height:  50px;
  color: #fff;
  font-weight:  600;
}

.closeMessageBox {
  position: absolute;
  top: 11px;
  right: 20px;
  background-color: rgba(0,0,0,.2);
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  line-height: 30px;
  padding: 0;
  cursor: pointer;
}

.messageBox.error {
  background-color: red;
}

.messageBox.success {
  background-color: green;
}

.messageBox.warning {
  background-color: orange;
}

.messageBox.info {
  background-color: blue;
}

.skillItem {
  position: relative;
  margin-top: 5px;
}

.skillItem:hover .skillTools,
.skillItem:focus .skillTools,
.skillItem:hover .skillEditableButton,
.skillItem:focus .skillEditableButton {
  display: block;
}

.skillTools {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2px;
}

.addSkill,
.removeSkill {
  width: 30px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 2px;

  top: 0;
  padding: 0;
  cursor: pointer;
}

.addSkill {
  background-color: green;
  right: 32px;
}

.removeSkill {
  background-color: red;
  right: 0;
}

.skillEditableButton {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: none;
}

.editableSkillContent input {
  font-size: 1em;
  color: #444;
  border: 1px solid #ccc;
  width: calc(100% - 52px);
  margin: 0;
  float: left;
  /* border: none; */
}

.editableSkillContent button {
  background-color: green;
  border: none;
  color: #fff;
  height: 22px;
  padding: 0;
  width: 50px;
  float: left;
  cursor: pointer;
}

.basicInfoEditableButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  line-height: 70px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: none;
}

.basicInfoEditableContent {
  width: 90%;
  display: table;
}

.basicInfoEditableContent h1,
.basicInfoEditableContent h2 {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important
}

.basicInfoEditableContent h1 input {


  color: #444;
  /* margin: 0; */
  /* padding: 0 2px; */
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #ededed;

  font-size: 100%;
  font-weight: 700;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.basicInfoEditableContent h2 input {
  color: #444;
  /* margin: 0; */
  /* padding: 0 2px; */
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #ededed;

  font-size: 100%;
  margin-left: 2px;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.basicInfoEditableContent button {
  width: 100%;
  height: 30px;
  background-color: #2ecc71;
  border: 1px solid #27ae60;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 5px;
}

.socialInfoEditableButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: none;
}

.socialInfoEditableContent {
  list-style: none;
}

.socialInfoEditableContent input[type="text"],
.socialInfoEditableContent input[type="tel"],
.socialInfoEditableContent input[type="email"] {
  color: #444;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0 2px;
  vertical-align: baseline;
  border: 1px solid #ccc;
  width: calc(100% - 24px);
  display: inline-block;
  background-color: #ededed;
}


.socialInfoEditableContent span {
  width: 18px;
  display: inline-block;
}

.socialInfoEditableContent button {
  width: 100%;
  height: 30px;
  background-color: #2ecc71;
  border: 1px solid #27ae60;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 5px;
}
